/node_modules
/public/storage
/storage/*.key
/vendor

# PHPSTROM
/.idea

Homestead.json
Homestead.yaml
.env

# MAC
.DS_Store

# Laravel 4 specific
app/storage/

# Laravel 5 & Lumen specific
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# redis
dump.rdb

# IDE helper
_ide_helper.php
.phpstorm.meta.php
