/* Google Material Design icons */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

/*General Properties*/
html{
	font-family: "Roboto", "PingFang SC", "Microsoft YaHei", "微软雅黑", "STHeiti ";
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 main {
    flex: 1 0 auto;
 }
.subheader {
	color: #999;
}

.add-file-btn {
	border: none;
	box-shadow: none;
	background: #2d4186;
}

.add-file-btn:hover {
	border: none;
	box-shadow: none;
}

.input-field {
	padding: 0!important;
}

.italic {
		font-style: italic;
}

.no-margin{
	margin:0 0 !important;
}

.display-all{
	max-height: none !important;
}

.no-shadow{
	box-shadow: none;
}

.placeholder{
	height: 2rem;
}
/*Nav bar*/

#navbar {
	/*max-width: 62.5rem;*/
	margin: auto;
}
#navbar-container nav{
	background: #000;
	opacity: 0.9;
}
.side-nav {
	overflow-x: hidden;
}

.nb-logo {
	height: 4rem;
	vertical-align: middle;
}

.menu-button {
	display: inline-block!important;
	margin-left: 1rem;
	font-size: 2.5rem;
}

.add-button {
	font-size: 2.5rem!important;
}

nav {
	background: none;
	box-shadow: none;
}
/*Side nav*/

.side-nav a {
	color: #fff!important;
}

#slide-out-panel {
	overflow-y: hidden;
}

.side-background {
	height: 150%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.side-nav a i {
	color: #fff!important;
}

.side-nav .subheader {
	color: #ddd!important;
}

.side-nav .divider {
	color: #ddd!important;
}
/*Search bar*/

.search-bar {
	max-width: 62.5rem;
	margin: auto;
}


/*Post cards*/

.card {
	border-radius: none;
	box-shadow: none;
}

.post-card {
	opacity: 0.97;
	margin: auto;
}

@media only screen and (min-width: 992px) {
	.post-card {
		opacity: 0.97;
	}
	.post-card:not(.article-card) {
		max-width: 62.5rem;
		margin-bottom: 2rem;
		background: #fff;
	}
	.about {
		background: #ddd!important;
		margin-bottom: 0!important;
	}
}
/*Fix a bug on larger screens*/

@media only screen and (min-width: 1200px) {
	.post-card,
	.article-card {
		margin-top: -1px;
	}
}

.post-card .card {
	background: none;
}

.post-card-content {
	max-width: 62.5rem;
	margin: auto;
}

.card .card-image {
	padding: 2%;
}

.card .card-content {
	padding-left: 30px;
	padding-right: 30px;
	max-height: 15rem;
	overflow-y: hidden;
	text-overflow: ellipsis;
	overflow-wrap: normal;
}

.card .card-action {
	text-align: right;
	border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.card .card-action a {
	color: #1e88e5!important;
}

.post-card .card-image .circle {
	padding: 10px;
	width: 5rem;
	height:5rem;
	border-radius: 50%;
}

.article-card .card-image .circle {
	padding: 10px;
	width: 8rem;
	height:8rem;
	border-radius: 50%;
}

.post-user-profile {
	display: flex;
}

.post-header {
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.post-card .card-stacked {
	margin-top: -30px;
}

.post-card-heading div a{
	height: 2rem !important;
	line-height: 2rem !important;
	margin: 0 !important;
}
.post-card-heading .col{
	padding: 0 !important;
}

.post-header.subheader.hide-on-med-and-down {
	margin-right: 32.5rem;
	display: inline;
}

.post-header-container {
	display: flex;
}

.post-white {
	background: #fff;
}

.post-grey {
	background: #eee;
}

.tag-btn {
	color: #039be5!important;
	padding-left: 1rem;
	padding-right: 1rem;
}

.post-comment-card {
	border-top: 1px solid rgba(160, 160, 160, 0.2);
	padding-top: 0!important;
	padding-bottom: 0!important;
	background: #f7ffff;
}

.post-comment-card .circle {
	width: 4.5rem !important;
	height: 4.5rem !important;
}

/*Article Cards*/

.railway {
	font-family: 'RailwayRegular';
}

.article-author {
	color: #66cccc;
	font-size: 1.1rem;
}

.article-card .card-content {
	max-height: 10000rem;
	padding-top: 11px;
}

.article-card .card-content .subheader.post-header {
	display: block;
	margin: auto;
}

.article-card .card-stacked {
	margin-top: -5px;
}

.article-card .title-container {
	margin-top: -10px;
}

.article-card .post-header-container h3,
.article-card .post-header-container h5,
.article-card .post-header-container h6 {
	font-weight: 300;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1.2;
}

.article-avatar {
	margin: auto;
	margin-top: 10px;
}

.article-card-text {
	line-height: 2;
	font-weight: 300;
	max-width: 50rem;
	margin: auto!important;
}
/*Comment Card*/

.comment-card {
	padding-top: 0.375rem;
}

.comment-card .card-image {
	margin: 0;
}

.comment-card .post-card-content {
	max-width: 47.5rem;
}
.comment-card .post-card-content .card-content{
	padding-top:0!important;
}
.comment-card p {
	margin-top: -1.5rem!important;
}

.comment-card .article-card-text {
	margin: 0!important;
}

.comment-caption {
	padding: 1rem;
}

.comment {
	background: #eee;
	opacity: 0.97;
}

.comment-placeholder {
	text-align: center;
	display: none;
}

.comment-placeholder h4 {
	color: #444;
	margin: 0;
	font-weight: 300;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/*
 * Vote Styles
 */
.vote-info p{
	 padding-top: 0.6rem;
	 padding-bottom:0.6rem;
}
.vote-result-pack{
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	border-bottom: 1px #DDD solid;
}
.vote-block{
	padding-top: 2rem;
	border-top: 1px #DDD solid;
}

/*
 * Error Styles
 */
.error-card{
	padding: 4rem;
}

/**
 * User info complesion styles
 */
.user-info-completion {
	padding: 2rem;
	padding-bottom: 0;
	opacity: 0.95;
}

.user-info-completion .card-content {
	max-height: none !important;
}

.user-info-completion .card-content input {
	margin-bottom:0;
}

.user-info-completion .card-content .input-field {
	margin-bottom: 3.5rem;
}